# =========================================
# Common backend configuration
# Used by both Lambda functions
# =========================================

ALLOWED_ORIGIN=https://techsarasolutions.com
S3_BUCKET_NAME=techsara-consultation-bookings
SECRETS_GOOGLE_KEY=/techsara/consultation-booking/google


# =========================================
# Consultation Booking Lambda
# AWS Lambda: techsara-consultation-booking
# =========================================

SECRETS_ZOOM_KEY=/techsara/consultation-booking/zoom
ZOOM_HOST_EMAIL=kunal.dhote@techsarasolutions.com
GOOGLE_CALENDAR_HOST_EMAIL=hello@techsarasolutions.com
BOOKING_TIMEZONE=America/New_York
DEFAULT_MEETING_DURATION=30
ADDITIONAL_CALENDAR_ATTENDEES=sales@techsarasolutions.com


# =========================================
# Contact Message Lambda
# AWS Lambda: techsara-contact-message
# =========================================

GMAIL_SENDER_EMAIL=hello@techsarasolutions.com
CONTACT_INTERNAL_EMAILS=sales@techsarasolutions.com,hello@techsarasolutions.com